<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div>
      <a
        href="https://www.linkedin.com/in/pabhivarshnv/"
        class="navbar-brand"
        target="new"
      >
        <img
          src="/images/logo.png"
          alt="doctor logo"
          class="doc_log"
        />&nbsp;&nbsp;
        <span class="tag">Doctor's Assistant</span>
      </a>
    </div>
    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li>
        <a href="/" class="nav-link">Home</a>
      </li>
      <li>
        <a href="/users/doctorProfile/doctorsDashboard" class="nav-link"
          >doctorsDashboard</a
        >
      </li>
      <li>
        <a href="/users/doctorProfiles" class="nav-link">doctorProfiles</a>
      </li>
      <li>
        <a href="/users/patientsProfile/patientsDashboard" class="nav-link"
          >patientsDashboard</a
        >
      </li>
      <li>
        <a href="/users/patientProfile" class="nav-link">patientProfile</a>
      </li>
      <li>
        <a href="/users/appointmentSchedule" class="nav-link"
          >appointmentSchedule</a
        >
      </li>
      <li>
        <a href="/register" class="nav-link">Register</a>
      </li>
      <li>
        <a href="/login" class="nav-link">Login</a>
      </li>
      <!-- <li>
        <a href="/logout" class="nav-link">Logout</a>
      </li> -->
    </ul>
  </nav>
</header>
<br />
