<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>All Doctors Profiles</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/style.mini.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />
  </head>
  <body>
    <%include partials/header%>

    <section class="container profiles">
      <h1 class="title">Doctor's Profiles</h1>
      <small class="title">Browse and connect with Doctor's</small>

      <article class="profile">
        <img
          class="round-img"
          src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200"
          alt="doctors image"
        />
        <article>
          <h3>Abhi Peddireddy</h3>
          <p>Category</p>
          <p>Address</p>
          <a href="doctorProfile">
            <button class="btn-mine">View Profile</button>
          </a>
        </article>

        <ul>
          <li class="text-mine"><i class="fas fa-check"></i> AAA</li>
          <li class="text-mine"><i class="fas fa-check"></i> BBB</li>
          <li class="text-mine"><i class="fas fa-check"></i> CCC</li>
          <li class="text-mine"><i class="fas fa-check"></i> DDD</li>
        </ul>
      </article>

      <article class="profile">
        <img
          class="round-img"
          src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200"
          alt="doctors image"
        />
        <article>
          <h3>Abhi Peddireddy</h3>
          <p>Category</p>
          <p>Address</p>
          <a href="doctorProfile">
            <button class="btn-mine">View Profile</button>
          </a>
        </article>

        <ul>
          <li class="text-mine"><i class="fas fa-check"></i> AAA</li>
          <li class="text-mine"><i class="fas fa-check"></i> BBB</li>
          <li class="text-mine"><i class="fas fa-check"></i> CCC</li>
          <li class="text-mine"><i class="fas fa-check"></i> DDD</li>
        </ul>
      </article>

      <article class="profile">
        <img
          class="round-img"
          src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200"
          alt="doctors image"
        />
        <article>
          <h3>Abhi Peddireddy</h3>
          <p>Category</p>
          <p>Address</p>
          <a href="doctorProfile">
            <button class="btn-mine">View Profile</button>
          </a>
        </article>

        <ul>
          <li class="text-mine"><i class="fas fa-check"></i> AAA</li>
          <li class="text-mine"><i class="fas fa-check"></i> BBB</li>
          <li class="text-mine"><i class="fas fa-check"></i> CCC</li>
          <li class="text-mine"><i class="fas fa-check"></i> DDD</li>
        </ul>
      </article>
    </section>

    <%include partials/footer%>
  </body>
</html>
