<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Doctor's Profile</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/style.mini.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />
  </head>
  <body>
    <%include partials/header%>

    <section class="container bg-mine">
      <br />
      <h1 class="large text-mine">
        Create Your Profile
      </h1>
      <p class="lead">
        <i class="fas fa-user"></i> Let's get some information to make your
        profile stand out
      </p>
      <small>* = required fields</small>
      <form class="form">
        <div class="form-group">
          <select name="category" class="form-control" required>
            <option value="0">* Select Professional Status</option>
            <option value="Developer">Developer</option>
            <option value="Junior Developer">Junior Developer</option>
            <option value="Senior Developer">Senior Developer</option>
          </select>
          <small class="form-text"
            >Give us an idea of where you are at in your career</small
          >
        </div>

        <div class="form-group">
          <select name="gender" class="form-control">
            <option value="0">Select Gender</option>
            <option value="male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>

        <div class="form-group">
          <input
            type="text"
            placeholder="* Phone"
            name="phone"
            class="form-control"
            required
          />
        </div>

        <div class="form-group">
          <input
            type="text"
            placeholder="* Hospital Address"
            name="address"
            class="form-control"
            required
          />
          <small class="form-text"
            >Hospital Address suggested (eg. 9306 Kittansett dr)</small
          >
        </div>

        <div class="form-group">
          <input
            type="text"
            placeholder="* Location"
            name="location"
            class="form-control"
            required
          />
          <small class="form-text"
            >City & state suggested (eg. Charlotte, NC)</small
          >
        </div>

        <div class="form-group">
          <input
            type="text"
            placeholder="* Pin"
            name="pin"
            class="form-control"
            required
          />
          <small class="form-text"
            >Pin code of the Hospital Address (eg. 28262)</small
          >
        </div>

        <div class="form-group">
          <input
            type="text"
            placeholder="* Country"
            name="country"
            class="form-control"
            required
          />
          <small class="form-text">Country suggested (eg. United States)</small>
        </div>

        <div class="form-group">
          <textarea
            name="message"
            cols="30"
            rows="5"
            placeholder="Doctors bio"
            class="form-control"
            required
          ></textarea>
        </div>

        <input type="submit" class="btn-mine my-1" />
        <a class="btn-mine my-1" href="./doctorsDashboard">Go Back</a>
      </form>
      <br />
    </section>

    <%include partials/footer%>
  </body>
</html>
