<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/style.mini.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />
  </head>
  <body>
    <%include partials/header%>

    <section class="container indexContainer">
      <article>
        <h1>Welcome to Doctor's Assitance</h1>
        <small>A one stop solution to all your health problems</small>
      </article>
      <article>
        <a href="/login"><button class="btn-mine">Login</button></a>
        <a href="/register"><button class="btn-mine">Register</button></a>
      </article>
    </section>

    <%include partials/footer%>
  </body>
</html>
