<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/style.mini.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />
  </head>
  <body>
    <%include partials/header%>

    <section class="container loginContainer">
      <div class="alert alert-danger">
        Invalid Credentials
      </div>
      <article>
        <h1 class="title">Login :</h1>
        <br />
        <form action="/login" method="POST" class="form">
          <div class="form-group">
            <span>Username:</span>
            <input type="text" class="form-control" name="username" required />
          </div>
          <div class="form-group">
            <span>Password:</span>
            <input
              type="password"
              class="form-control"
              name="password"
              required
            />
          </div>
          <div class="form-group">
            <button type="submit" class=" btn-mine">Login</button>
          </div>
        </form>
        <p class="clue">
          Don't have an account?&nbsp;&nbsp;<a href="/register">SingUp</a>
        </p>
      </article>
    </section>

    <%include partials/footer%>
  </body>
</html>
