<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Patient Profile</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/style.mini.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />
  </head>
  <body>
    <%include partials/header%>

    <section class="container">
      <section class="patientProfile my-1">
        <!-- Top -->
        <article class="patient-top bg-mine-2 p-2">
          <img
            class="round-img my-1"
            src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200"
            alt=""
          />

          <h3 class="large">Harshith Jakka</h3>
          <p class="lead">Developer at Microsoft</p>
          <p>Seattle, WA</p>
        </article>
        <!-- About -->
        <article class="patient-about bg-mine p-2">
          <h3 class="text-mine">Jakka's Bio</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni,
            distinctio tempora. Obcaecati vero ad similique numquam. Commodi
            incidunt quia non!
          </p>
        </article>
        <!-- Info -->
        <article class="patient-info bg-mine p-2">
          <h3 class="text-mine">Basic Info</h3>
          <p><strong>Age: </strong> 27</p>
          <p><strong>Gender: </strong> Male</p>
          <p><strong>Height: </strong> 5 feet 11 inches</p>
          <p><strong>Weight: </strong> 160 lbs</p>
          <p><strong>Phone: </strong> 7049059653</p>
        </article>
        <!-- Medical History -->
        <article class="bg-mine">
          <article class="createApoointment p-2">
            <a href="/users/patientProfile/medicalHistory"
              ><button class="btn-mine">Add Medical History</button></a
            >
          </article>

          <h3 class="text-mine p-2">Medical History</h3>

          <article class="medicalHistory bg-white">
            <div class="medicalDetails">
              <p><strong>Fever</strong></p>

              <ul>
                <span class="text-mine"><i class="fas fa-check"></i> Cold</span>
                <span class="text-mine">
                  <i class="fas fa-check"></i> Headache
                </span>
                <span class="text-mine">
                  <i class="fas fa-check"></i> Low Engery
                </span>
              </ul>
            </div>
            <div>
              <a href="/users/patientProfile/medicalHistory">
                <button class="btn-mine">
                  <i class="fas fa-edit"></i>&nbsp;Update
                </button>
              </a>
            </div>
            <div>
              <a href="#">
                <button class="btn-mine">
                  <i class="fas fa-trash"></i>&nbsp;Delete
                </button>
              </a>
            </div>
          </article>

          <article class="medicalHistory bg-white">
            <div class="medicalDetails">
              <p><strong>Fever</strong></p>

              <ul>
                <span class="text-mine"><i class="fas fa-check"></i> Cold</span>
                <span class="text-mine">
                  <i class="fas fa-check"></i> Headache
                </span>
                <span class="text-mine">
                  <i class="fas fa-check"></i> Low Engery
                </span>
              </ul>
            </div>
            <div>
              <a href="/users/patientProfile/medicalHistory">
                <button class="btn-mine">
                  <i class="fas fa-edit"></i>&nbsp;Update
                </button>
              </a>
            </div>
            <div>
              <a href="#">
                <button class="btn-mine">
                  <i class="fas fa-trash"></i>&nbsp;Delete
                </button>
              </a>
            </div>
          </article>
          <br />
        </article>
      </section>
    </section>

    <%include partials/footer%>
  </body>
</html>
