<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Patients Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/style.mini.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />
  </head>
  <body>
    <%include partials/header%>

    <section class="container bg-mine dashboard">
      <br />
      <h1 class="large text-mine">
        Dashboard
      </h1>
      <p class="lead"><i class="fas fa-user"></i> Welcome John Doe</p>
      <article class="dash-buttons">
        <a href="./editPatientsProfile" class="btn">
          <i class="fas fa-user-circle text-mine"></i> Edit Profile
        </a>
        <a href="./addEducation" class="btn">
          <i class="fab fa-black-tie text-mine"></i> Add Experience
        </a>
        <a href="./addExperience" class="btn">
          <i class="fas fa-graduation-cap text-mine"></i> Add Education
        </a>
      </article>

      <h3 class="my-2">
        Experience Credentials
      </h3>
      <table class="table">
        <thead>
          <tr>
            <th>Company</th>
            <th class="hide-sm">Title</th>
            <th class="hide-sm">Years</th>
            <th colspan="2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Microsoft</td>
            <td class="hide-sm">Senior Developer</td>
            <td class="hide-sm">
              Oct 2011 - Current
            </td>
            <td>
              <button class="btn-mine">
                <i class="fas fa-edit"></i>&nbsp;Update
              </button>
            </td>
            <td>
              <button class="btn-mine">
                <i class="fas fa-trash"></i>&nbsp;Delete
              </button>
            </td>
          </tr>
          <tr>
            <td>Sun Microsystems</td>
            <td class="hide-sm">Senior Developer</td>
            <td class="hide-sm">
              Oct 2004 - Nov 2010
            </td>
            <td>
              <button class="btn-mine">
                <i class="fas fa-edit"></i>&nbsp;Update
              </button>
            </td>
            <td>
              <button class="btn-mine">
                <i class="fas fa-trash"></i>&nbsp;Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <h3 class="my-2">
        Education Credentials
      </h3>
      <table class="table">
        <thead>
          <tr>
            <th>School</th>
            <th class="hide-sm">Degree</th>
            <th class="hide-sm">Years</th>
            <th colspan="2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>University of Washington</td>
            <td class="hide-sm">Masters</td>
            <td class="hide-sm">
              Sep 1993 - June 1999
            </td>
            <td>
              <button class="btn-mine">
                <i class="fas fa-edit"></i>&nbsp;Update
              </button>
            </td>
            <td>
              <button class="btn-mine">
                <i class="fas fa-trash"></i>&nbsp;Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <article class="my-2">
        <button class="btn btn-danger">
          <i class="fas fa-user-minus"></i> Delete My Account
        </button>
      </article>
      <br />
    </section>

    <%include partials/footer%>
  </body>
</html>
